.pages { /*Distribuimos el contenido de la pagina dinamica*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.links { /*Distribuimos los links del final de la pagina dinamica*/
    display: flex;
    justify-content: space-between;
}