.pages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    text-decoration: underline;
}