.sidebar {
    background-color: var(--lavender);
    border-radius: .5rem;
    overflow-y: auto;
    padding: 1rem;
}

.sidebar a p:hover {
    cursor: pointer;
}

.underlining {
    text-decoration: underline;
}

.content {
    display: none;
    padding: 1rem;
}

.content p, .content button {
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: .5rem;
    text-align: left;
}

.show {
    display: block;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.sidebar img {
    width: 4rem;
    height: 4rem;
}